* { 
    box sizing: border-box;   
}

html,
body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.header, footer {
    display: flex;
    background-color: #1F2937;
}


.header {
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.logo-img {
    width: 50px;
}

.left {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    align-items: center;
    gap: 10px;
}

ul {
    display: flex;
    color: white;
    font-size: 18px;
    list-style-type: none;
    gap: 20px;
}

img.landscape {
    max-width: 48%;
}

.section-a {
    display: flex;
}

.section-b {
    display: flex;
}

.section-d {
    display: flex;
}

footer {
    display: flex;
}