* { 
    box-sizing: border-box;   
}


body {
    height: 100vh;
    margin: 0;
    font-family:  Garamond, serif;
}


.section {
    display: flex;
}


header, 
footer {
    display: flex;
    background-color: #1F2937;
}


header {
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}


footer {
    color: #E5E7EB;
    justify-content: center;
}


.logo-img {
    width: 50px;
}


.left {
    display: flex;
    color: #F9FAF8;
    font-size: 26px;
    align-items: center;
    gap: 10px;
    font-weight: 900;
}


ul {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    list-style-type: none;
    gap: 20px;
}



.catch {
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: 900;
    padding: 10%;
    height: 30%
}

div.catch > * {
    min-height: 
}


.words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
}


/*2nd section*/

.info.section {
    /*Entire section container doesn't need flexbox bc the divs are block-level
    elements*/
    text-align: center
    /*Makes the imgs & text center*/
}

.info img {
    width: 160px;
}

 {
    /*.info > img did not work here because child selectors do not
    select grandbabies (nested under another element) of the parent*/
    max-width: 55%; /*doesn't create a scrollbar when viewport gets too smol*/
    margin: auto; /*centers element horizontally within its container*/
    border: 3px solid #3882F6;
    border-radius: 11px; /*rounds the corners of the border*/
    padding: 15px;
}