* { 
    box-sizing: border-box;   
}


body {
    height: 100vh;
    margin: 0;
    font-family:  Garamond, serif;

}


.section {
    display: flex;
}


header, 
footer {
    display: flex;
    background-color: #1F2937;
}


header {
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}


footer {
    color: #E5E7EB;
    justify-content: center;
}


.logo-img {
    width: 26px;
}


.left {
    display: flex;
    color: #F9FAF8;
    font-size: 26px;
    align-items: center;
    gap: 10px;
    font-weight: 900;
}


ul {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    list-style-type: none;
    gap: 20px;
}


/* 1st Section*/

.catch {
    justify-content: center;
    background-color: #1F2937;
}

.grabber {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 80px;
    flex-wrap: wrap;
    gap: 10px;
}

.grabber div,
.grabber img {
    width: 320px;
    height: 160px;
}

.words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F9FAF8;
}

.words h1 {
    margin: 0;
    font-weight: 900;
}

.words p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100;
}

.words button {
    color: #F9FAF8;
    align-self: flex-start;
    background-color: #3882F6;
    padding: 5px 20px;
    font-weight: 600;
    border: none;
    border-radius: 7px;
}


/*2nd section*/

.info {
    flex-direction: column;
    /*Entire section container doesn't need flexbox bc the divs are block-level
    elements*/
    text-align: center
    /*Makes the imgs & text center*/
}


.pair img {
    width: 120px;
    border: 3px solid #3882F6;
    border-radius: 11px; /*rounds the corners of the border*/
    padding: 8px;
}

.info-containers {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.explore {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-bottom: 20px;
    padding-top: 20px;
}

.pair {
    max-width: 120px; /*doesn't create a scrollbar when viewport gets too smol*/
    margin: 16px;
    font-size: 14px;
   
}

.subtext {
    flex-wrap: wrap;
    width: 120px;
}

